n8n/booking-confirmed.json
{
  "name": "Ductly — Booking Confirmed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-confirmed",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Booking Confirmed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "booking-confirmed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.customer_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@ductly.ae",
        "toEmail": "={{ $json.customer_email }}",
        "subject": "Booking Confirmed — DUCTly #{{ $json.booking_id.substring(0, 8) }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #f7f8fa; padding: 40px 20px;\">\n<div style=\"max-width: 520px; margin: 0 auto; background: white; border-radius: 16px; border: 2px solid #eef0f4; padding: 40px;\">\n  <img src=\"https://ductly.ae/images/logo.png\" alt=\"DUCTly\" style=\"height: 36px; margin-bottom: 24px;\" />\n  <h1 style=\"font-size: 22px; color: #3d3d3d; margin: 0 0 8px;\">Booking Confirmed!</h1>\n  <p style=\"color: #a0a5af; font-size: 14px; margin: 0 0 24px;\">Your duct cleaning appointment is scheduled.</p>\n  \n  <div style=\"background: #fcfcfc; border: 1px solid #f4f4f4; border-radius: 12px; padding: 20px; margin-bottom: 24px;\">\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n      <tr><td style=\"color: #999; padding: 6px 0;\">Date & Time</td><td style=\"color: #3d3d3d; text-align: right; padding: 6px 0; font-weight: 500;\">{{ $json.slot_start }}</td></tr>\n      <tr><td style=\"color: #999; padding: 6px 0;\">Plan</td><td style=\"color: #3d3d3d; text-align: right; padding: 6px 0; font-weight: 500;\">{{ $json.plan }}</td></tr>\n      <tr><td style=\"color: #999; padding: 6px 0;\">Total</td><td style=\"color: #3d3d3d; text-align: right; padding: 6px 0; font-weight: 500;\">AED {{ $json.price_aed }}</td></tr>\n      <tr><td style=\"color: #999; padding: 6px 0;\">Address</td><td style=\"color: #3d3d3d; text-align: right; padding: 6px 0; font-weight: 500;\">{{ $json.address }}</td></tr>\n    </table>\n  </div>\n\n  <p style=\"font-size: 13px; color: #a0a5af;\">Need to reschedule or cancel? Use your manage link:</p>\n  <a href=\"{{ $env.APP_URL }}/my-booking/{{ $json.manage_token }}\" style=\"display: inline-block; background: linear-gradient(135deg, #93d8d8, #95cf8c); color: white; text-decoration: none; padding: 12px 28px; border-radius: 40px; font-size: 14px; font-weight: 500; margin-top: 8px;\">Manage Booking</a>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 200],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP — configure in n8n credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-phone",
              "leftValue": "={{ $json.customer_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 500]
    },
    {
      "parameters": {
        "url": "https://waba.360dialog.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "D360-API-KEY",
              "value": "={{ $env.WABA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.customer_phone.replace(/[^0-9]/g, '') }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"booking_confirmed\",\n    \"language\": { \"code\": \"en\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.customer_name }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.slot_start }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.address }}\" },\n          { \"type\": \"text\", \"text\": \"AED {{ $json.price_aed }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "send-whatsapp-customer",
      "name": "WhatsApp: Customer Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 500]
    },
    {
      "parameters": {},
      "id": "no-op-email",
      "name": "Skip Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 340]
    },
    {
      "parameters": {},
      "id": "no-op-whatsapp",
      "name": "Skip WhatsApp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 640]
    }
  ],
  "connections": {
    "Webhook: Booking Confirmed": {
      "main": [
        [
          { "node": "Has Email?", "type": "main", "index": 0 },
          { "node": "Has Phone?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [{ "node": "Send Confirmation Email", "type": "main", "index": 0 }],
        [{ "node": "Skip Email", "type": "main", "index": 0 }]
      ]
    },
    "Has Phone?": {
      "main": [
        [{ "node": "WhatsApp: Customer Confirmation", "type": "main", "index": 0 }],
        [{ "node": "Skip WhatsApp", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "ductly" },
    { "name": "booking" },
    { "name": "notification" }
  ],
  "pinData": {},
  "versionId": "1"
}
