n8n/feedback-request.json
{
  "name": "Ductly — Post-Job Feedback Request",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.id AS booking_id, b.slot_end, b.address, b.manage_token, c.name AS customer_name, c.phone AS customer_phone, c.email AS customer_email, t.name AS team_name FROM bookings b JOIN customers c ON c.id = b.customer_id LEFT JOIN teams t ON t.id = b.team_id LEFT JOIN feedback f ON f.booking_id = b.id WHERE b.status = 'completed' AND f.id IS NULL AND b.feedback_requested_at IS NULL AND b.slot_end < NOW() - INTERVAL '2 hours' AND b.slot_end > NOW() - INTERVAL '3 hours' ORDER BY b.slot_end ASC;",
        "options": {}
      },
      "id": "query-completed",
      "name": "Query Recently Completed (No Feedback)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres — configure in n8n credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.customer_phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.customer_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 440]
    },
    {
      "parameters": {
        "url": "https://waba.360dialog.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $env.WABA_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.customer_phone.replace(/[^0-9]/g, '') }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"feedback_request\",\n    \"language\": { \"code\": \"en\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.customer_name }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.team_name || 'our team' }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "whatsapp-feedback",
      "name": "WhatsApp: Feedback Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 120]
    },
    {
      "parameters": {
        "fromEmail": "noreply@ductly.ae",
        "toEmail": "={{ $json.customer_email }}",
        "subject": "How was your duct cleaning? — DUCTly",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #f7f8fa; padding: 40px 20px;\">\n<div style=\"max-width: 520px; margin: 0 auto; background: white; border-radius: 16px; border: 2px solid #eef0f4; padding: 40px;\">\n  <img src=\"https://ductly.ae/images/logo.png\" alt=\"DUCTly\" style=\"height: 36px; margin-bottom: 24px;\" />\n  <h1 style=\"font-size: 22px; color: #3d3d3d; margin: 0 0 8px;\">How was your experience?</h1>\n  <p style=\"color: #a0a5af; font-size: 14px; margin: 0 0 24px;\">Hi {{ $json.customer_name }}, we hope {{ $json.team_name || 'our team' }} did a great job! Your feedback helps us improve.</p>\n  <div style=\"background: #fcfcfc; border: 1px solid #f4f4f4; border-radius: 12px; padding: 20px; margin-bottom: 24px; text-align: center;\">\n    <p style=\"font-size: 14px; color: #3d3d3d; margin: 0 0 12px;\">Rate your experience:</p>\n    <div style=\"font-size: 32px; letter-spacing: 8px;\">&#9733;&#9733;&#9733;&#9733;&#9733;</div>\n  </div>\n  <a href=\"{{ $env.APP_URL }}/my-booking/{{ $json.manage_token }}\" style=\"display: inline-block; background: linear-gradient(135deg, #93d8d8, #95cf8c); color: white; text-decoration: none; padding: 12px 28px; border-radius: 40px; font-size: 14px; font-weight: 500; margin-top: 8px;\">Leave Feedback</a>\n  <p style=\"font-size: 12px; color: #c8ccd4; margin-top: 24px;\">Service at: {{ $json.address }}</p>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-feedback",
      "name": "Email: Feedback Request",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 400],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP — configure in n8n credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET feedback_requested_at = NOW() WHERE id = '{{ $json.booking_id }}';",
        "options": {}
      },
      "id": "mark-feedback-sent",
      "name": "Mark Feedback Requested",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 600],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres — configure in n8n credentials"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-phone",
      "name": "Skip WhatsApp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 240]
    },
    {
      "parameters": {},
      "id": "no-op-email",
      "name": "Skip Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 540]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [{ "node": "Query Recently Completed (No Feedback)", "type": "main", "index": 0 }]
      ]
    },
    "Query Recently Completed (No Feedback)": {
      "main": [
        [
          { "node": "Has Phone?", "type": "main", "index": 0 },
          { "node": "Has Email?", "type": "main", "index": 0 },
          { "node": "Mark Feedback Requested", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [{ "node": "WhatsApp: Feedback Request", "type": "main", "index": 0 }],
        [{ "node": "Skip WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Has Email?": {
      "main": [
        [{ "node": "Email: Feedback Request", "type": "main", "index": 0 }],
        [{ "node": "Skip Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "name": "ductly" },
    { "name": "feedback" },
    { "name": "scheduled" }
  ],
  "pinData": {},
  "versionId": "1"
}
