n8n/no-show-followup.json
{
  "name": "Ductly — No-Show Follow-Up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.id AS booking_id, b.slot_start, b.slot_end, b.address, b.no_show_at, b.manage_token, c.name AS customer_name, c.phone AS customer_phone, c.email AS customer_email FROM bookings b JOIN customers c ON c.id = b.customer_id WHERE b.status = 'no_show' AND b.noshow_notified_at IS NULL AND b.no_show_at > NOW() - INTERVAL '2 hours' AND b.no_show_at < NOW() - INTERVAL '30 minutes' ORDER BY b.no_show_at ASC;",
        "options": {}
      },
      "id": "query-no-shows",
      "name": "Query Recent No-Shows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres — configure in n8n credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.customer_phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.customer_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 440]
    },
    {
      "parameters": {
        "url": "https://waba.360dialog.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $env.WABA_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.customer_phone.replace(/[^0-9]/g, '') }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"no_show_followup\",\n    \"language\": { \"code\": \"en\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{ $json.customer_name }}\" },\n          { \"type\": \"text\", \"text\": \"{{ $json.slot_start }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "whatsapp-noshow",
      "name": "WhatsApp: No-Show Follow-Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 120]
    },
    {
      "parameters": {
        "fromEmail": "noreply@ductly.ae",
        "toEmail": "={{ $json.customer_email }}",
        "subject": "We missed you today — DUCTly",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #f7f8fa; padding: 40px 20px;\">\n<div style=\"max-width: 520px; margin: 0 auto; background: white; border-radius: 16px; border: 2px solid #eef0f4; padding: 40px;\">\n  <img src=\"https://ductly.ae/images/logo.png\" alt=\"DUCTly\" style=\"height: 36px; margin-bottom: 24px;\" />\n  <h1 style=\"font-size: 22px; color: #3d3d3d; margin: 0 0 8px;\">We Missed You Today</h1>\n  <p style=\"color: #a0a5af; font-size: 14px; margin: 0 0 24px;\">Hi {{ $json.customer_name }}, our team arrived for your scheduled duct cleaning but wasn't able to reach you.</p>\n  <div style=\"background: #fcfcfc; border: 1px solid #f4f4f4; border-radius: 12px; padding: 20px; margin-bottom: 24px;\">\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n      <tr><td style=\"color: #999; padding: 6px 0;\">Scheduled Time</td><td style=\"color: #3d3d3d; text-align: right; padding: 6px 0; font-weight: 500;\">{{ $json.slot_start }}</td></tr>\n      <tr><td style=\"color: #999; padding: 6px 0;\">Address</td><td style=\"color: #3d3d3d; text-align: right; padding: 6px 0; font-weight: 500;\">{{ $json.address }}</td></tr>\n    </table>\n  </div>\n  <p style=\"font-size: 14px; color: #6d6d6d;\">We'd love to reschedule at a time that works for you. Book a new appointment below.</p>\n  <a href=\"{{ $env.APP_URL }}/book\" style=\"display: inline-block; background: linear-gradient(135deg, #93d8d8, #95cf8c); color: white; text-decoration: none; padding: 12px 28px; border-radius: 40px; font-size: 14px; font-weight: 500; margin-top: 16px;\">Rebook Now</a>\n  <p style=\"font-size: 12px; color: #c8ccd4; margin-top: 24px;\">If you have questions, reply to this email or call us.</p>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-noshow",
      "name": "Email: No-Show Follow-Up",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 400],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP — configure in n8n credentials"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alerts@ductly.ae",
        "toEmail": "admin@ductly.ae",
        "subject": "No-Show: {{ $json.customer_name }} — {{ $json.slot_start }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<body style=\"font-family: monospace; padding: 20px;\">\n<h2>No-Show Recorded</h2>\n<table>\n<tr><td><strong>Customer:</strong></td><td>{{ $json.customer_name }}</td></tr>\n<tr><td><strong>Phone:</strong></td><td>{{ $json.customer_phone }}</td></tr>\n<tr><td><strong>Email:</strong></td><td>{{ $json.customer_email || '-' }}</td></tr>\n<tr><td><strong>Scheduled:</strong></td><td>{{ $json.slot_start }}</td></tr>\n<tr><td><strong>Address:</strong></td><td>{{ $json.address }}</td></tr>\n<tr><td><strong>Booking ID:</strong></td><td>{{ $json.booking_id }}</td></tr>\n</table>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-admin-noshow",
      "name": "Email: Admin No-Show Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 600],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP — configure in n8n credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET noshow_notified_at = NOW() WHERE id = '{{ $json.booking_id }}';",
        "options": {}
      },
      "id": "mark-noshow-sent",
      "name": "Mark No-Show Notified",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 600],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Supabase Postgres — configure in n8n credentials"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-phone",
      "name": "Skip WhatsApp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 240]
    },
    {
      "parameters": {},
      "id": "no-op-email",
      "name": "Skip Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 540]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [{ "node": "Query Recent No-Shows", "type": "main", "index": 0 }]
      ]
    },
    "Query Recent No-Shows": {
      "main": [
        [
          { "node": "Has Phone?", "type": "main", "index": 0 },
          { "node": "Has Email?", "type": "main", "index": 0 },
          { "node": "Email: Admin No-Show Alert", "type": "main", "index": 0 },
          { "node": "Mark No-Show Notified", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [{ "node": "WhatsApp: No-Show Follow-Up", "type": "main", "index": 0 }],
        [{ "node": "Skip WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Has Email?": {
      "main": [
        [{ "node": "Email: No-Show Follow-Up", "type": "main", "index": 0 }],
        [{ "node": "Skip Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "name": "ductly" },
    { "name": "no-show" },
    { "name": "scheduled" }
  ],
  "pinData": {},
  "versionId": "1"
}
