n8n/ops-alert.json
{
  "name": "Ductly - Ops Alerts (Owner Notifications)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ops-alert",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Ops Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "ops-alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "has-phone-1", "leftValue": "={{ $env.ALERT_PHONE_1 }}", "rightValue": "", "operator": { "type": "string", "operation": "isNotEmpty" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-phone-1",
      "name": "Owner 1 configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "has-phone-2", "leftValue": "={{ $env.ALERT_PHONE_2 }}", "rightValue": "", "operator": { "type": "string", "operation": "isNotEmpty" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-phone-2",
      "name": "Owner 2 configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "=whatsapp:+15559870195" },
            { "name": "To", "value": "=whatsapp:{{ $env.ALERT_PHONE_1.replace(/[^0-9+]/g, '') }}" },
            { "name": "ContentSid", "value": "=HXb620c5bda6c771bfeb872d384e3cae66" },
            { "name": "ContentVariables", "value": "={{ JSON.stringify({\n  '1': $json.body.alert_label || 'Alert',\n  '2': $json.body.customer_name || '',\n  '3': $json.body.when_human || $json.body.slot_start || '',\n  '4': $json.body.address || '',\n  '5': $json.body.team_name || '',\n  '6': $json.body.extra || ''\n}) }}" }
          ]
        },
        "options": {},
        "method": "POST"
      },
      "id": "whatsapp-owner-1",
      "name": "WhatsApp: Owner 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 120],
      "credentials": { "httpBasicAuth": { "id": "4RkcGDN9X6hNuKWv", "name": "Twilio Basic Auth (Account SID / Auth Token)" } }
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "=whatsapp:+15559870195" },
            { "name": "To", "value": "=whatsapp:{{ $env.ALERT_PHONE_2.replace(/[^0-9+]/g, '') }}" },
            { "name": "ContentSid", "value": "=HXb620c5bda6c771bfeb872d384e3cae66" },
            { "name": "ContentVariables", "value": "={{ JSON.stringify({\n  '1': $json.body.alert_label || 'Alert',\n  '2': $json.body.customer_name || '',\n  '3': $json.body.when_human || $json.body.slot_start || '',\n  '4': $json.body.address || '',\n  '5': $json.body.team_name || '',\n  '6': $json.body.extra || ''\n}) }}" }
          ]
        },
        "options": {},
        "method": "POST"
      },
      "id": "whatsapp-owner-2",
      "name": "WhatsApp: Owner 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 340],
      "credentials": { "httpBasicAuth": { "id": "4RkcGDN9X6hNuKWv", "name": "Twilio Basic Auth (Account SID / Auth Token)" } }
    },
    {
      "parameters": {
        "fromEmail": "alerts@ductly.ae",
        "toEmail": "={{ $env.ALERT_EMAIL || 'admin@ductly.ae' }}",
        "subject": "={{ $json.body.alert_label || 'Alert' }} - Ductly Ops",
        "emailType": "html",
        "html": "=<p><strong>{{ $json.body.alert_label || 'Alert' }}</strong></p><ul><li><strong>Customer:</strong> {{ $json.body.customer_name || '-' }} ({{ $json.body.customer_phone || '-' }})</li><li><strong>When:</strong> {{ $json.body.when_human || $json.body.slot_start || '-' }}</li><li><strong>Where:</strong> {{ $json.body.address || '-' }}</li><li><strong>Team:</strong> {{ $json.body.team_name || '-' }}</li><li><strong>Booking:</strong> {{ $json.body.booking_id || '-' }}</li><li><strong>Source:</strong> {{ $json.body.source || '-' }}</li></ul><p>{{ $json.body.extra || '' }}</p>",
        "options": {}
      },
      "id": "email-admin-log",
      "name": "Email: Admin Log",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 540],
      "credentials": { "smtp": { "id": "woEEVaaZgFFtA1gv", "name": "Resend SMTP" } }
    },
    { "parameters": {}, "id": "no-op-1", "name": "Skip Owner 1", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [660, 200] },
    { "parameters": {}, "id": "no-op-2", "name": "Skip Owner 2", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [660, 440] }
  ],
  "connections": {
    "Webhook: Ops Alert": { "main": [ [ { "node": "Owner 1 configured?", "type": "main", "index": 0 }, { "node": "Owner 2 configured?", "type": "main", "index": 0 }, { "node": "Email: Admin Log", "type": "main", "index": 0 } ] ] },
    "Owner 1 configured?": { "main": [ [ { "node": "WhatsApp: Owner 1", "type": "main", "index": 0 } ], [ { "node": "Skip Owner 1", "type": "main", "index": 0 } ] ] },
    "Owner 2 configured?": { "main": [ [ { "node": "WhatsApp: Owner 2", "type": "main", "index": 0 } ], [ { "node": "Skip Owner 2", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" }
}
