n8n/team-dispatch.json
{
  "name": "Ductly — Team Dispatch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "team-dispatch",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Team Dispatch",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "team-dispatch"
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "={{ $env.TWILIO_WHATSAPP_FROM }}" },
            { "name": "To", "value": "=whatsapp:{{ $json.team_whatsapp.replace(/[^0-9+]/g, '') }}" },
            { "name": "ContentSid", "value": "={{ $env.TWILIO_CONTENT_SID_TEAM_DISPATCH }}" },
            { "name": "ContentVariables", "value": "={{ JSON.stringify({\n  '1': $json.team_name,\n  '2': $json.slot_start_human,\n  '3': $json.customer_name,\n  '4': $json.address,\n  '5': $json.building_name || '-',\n  '6': $json.flat_number || '-',\n  '7': $json.additional_directions || 'None',\n  '8': $json.plan,\n  '9': $json.customer_phone,\n  '10': $json.maps_link\n}) }}" }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp-team",
      "name": "WhatsApp: Dispatch Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "CONFIGURE_ME",
          "name": "Twilio Basic Auth (Account SID / Auth Token)"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "dispatch@ductly.ae",
        "toEmail": "admin@ductly.ae",
        "subject": "New Job — {{ $json.team_name }} — {{ $json.slot_start_human }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; padding: 20px; color: #2a2a2a;\">\n<h2 style=\"color: #3d3d3d; margin-bottom: 4px;\">New Job Dispatched</h2>\n<p style=\"color: #888; margin-top: 0; font-size: 13px;\">Address quality: <strong>{{ $json.address_quality }}</strong>{{ $json.address_quality === 'unverified' ? ' — coords not captured, double-check before sending' : '' }}</p>\n\n<table style=\"font-size: 14px; border-collapse: collapse; margin-top: 16px;\">\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Team</td><td style=\"font-weight: 500;\">{{ $json.team_name }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Team WhatsApp</td><td style=\"font-weight: 500;\">{{ $json.team_whatsapp }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">When</td><td style=\"font-weight: 500;\">{{ $json.slot_start_human }} — {{ $json.slot_end_human }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Customer</td><td style=\"font-weight: 500;\">{{ $json.customer_name }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Customer phone</td><td style=\"font-weight: 500;\"><a href=\"tel:{{ $json.customer_phone }}\" style=\"color: #2a2a2a;\">{{ $json.customer_phone }}</a></td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Address</td><td style=\"font-weight: 500;\">{{ $json.address }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Building</td><td style=\"font-weight: 500;\">{{ $json.building_name || '-' }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Flat / floor</td><td style=\"font-weight: 500;\">{{ $json.flat_number || '-' }} {{ $json.floor ? '(floor ' + $json.floor + ')' : '' }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Directions</td><td style=\"font-weight: 500;\">{{ $json.additional_directions || 'None' }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0;\">Plan</td><td style=\"font-weight: 500;\">{{ $json.plan }} — AED {{ $json.price_aed }}</td></tr>\n<tr><td style=\"color: #888; padding: 6px 16px 6px 0; vertical-align: top;\">Navigate</td><td><a href=\"{{ $json.maps_link }}\" style=\"display: inline-block; background: #1a73e8; color: white; padding: 10px 16px; border-radius: 6px; text-decoration: none; font-weight: 500;\">Open in Google Maps</a></td></tr>\n</table>\n\n<hr style=\"border: none; border-top: 1px solid #eee; margin: 24px 0;\">\n<p style=\"color: #666; font-size: 13px; margin: 0;\"><strong>Manual relay block</strong> (copy-paste to team WhatsApp if auto-dispatch failed):</p>\n<pre style=\"background: #f7f7f7; padding: 14px; border-radius: 6px; font-size: 13px; line-height: 1.5; white-space: pre-wrap; word-break: break-word; font-family: -apple-system, BlinkMacSystemFont, sans-serif;\">New job — {{ $json.team_name }}\nWhen: {{ $json.slot_start_human }}\nCustomer: {{ $json.customer_name }} ({{ $json.customer_phone }})\nAddress: {{ $json.address }}{{ $json.building_name ? ', ' + $json.building_name : '' }}{{ $json.flat_number ? ', ' + $json.flat_number : '' }}\nDirections: {{ $json.additional_directions || 'None' }}\nPlan: {{ $json.plan }} — AED {{ $json.price_aed }}\nMap: {{ $json.maps_link }}</pre>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-admin-dispatch",
      "name": "Email: Admin Dispatch Log",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [500, 420],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_ME",
          "name": "SMTP — configure in n8n credentials"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Team Dispatch": {
      "main": [
        [
          { "node": "WhatsApp: Dispatch Team", "type": "main", "index": 0 },
          { "node": "Email: Admin Dispatch Log", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "ductly" },
    { "name": "dispatch" },
    { "name": "team" }
  ],
  "pinData": {},
  "versionId": "2"
}
